.time-slot {
    position: relative; /* to position the chip inside the time-slot */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 35px;
    margin: 10px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .time-slot-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .time-slot-count {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  
  .time-slot-chip {
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  padding: 3px 8px;
  margin-top: -49px;
  margin-right: -14px;
  z-index: 1;
  }
  .gradient-button {
    background: linear-gradient(to bottom, #4F86F7, #2F5EEF);
    border-radius: 5px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .gradient-button:hover {
    opacity: 0.9;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sibling-text {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }
  
  
  